<!DOCTYPE html>
<html>
<head>
    <% include partials/template/head.ejs %>
    <link rel="stylesheet" href="../stylesheets/index.css">
</head>
<body>
<header id="header">
    <% include partials/template/header.ejs %>
</header>
<section id="slider">
    <% include partials/content/slider.ejs %>
</section>
<section id="services">
    <% include partials/content/services.ejs %>
</section>
<section id="our-works">
    <% include partials/content/projects.ejs %>
</section>
<section id="about-us">
    <% include partials/content/aboutus.ejs %>
</section>
<section id="contact">
    <% include partials/content/contact.ejs %>
</section>
<footer id="footer">
    <% include partials/content/footer.ejs %>
</footer>
<% include partials/template/scripts.ejs %>
</body>
</html>
