<nav class="navbar st-navbar navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#st-navbar-collapse" class="navbar-toggle collapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span><span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/" class="bsp-logo">Blue Slate Properties</a>
    </div>
    <div id="st-navbar-collapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right" id="navigation">
            <li><a href="/#header"><i class="fa fa-home fa-lg"></i></a></li>
            <li><a href="/#services">Services</a></li>
            <li><a href="/#projects">Rent</a></li>
            <li><a href="/#about-us">About</a></li>
            <li><a href="/#contact">Contact</a></li>
        </ul>
    </div>
</nav>