<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section-title">
                <h1>Contact us</h1><span class="st-border"></span>
            </div>
        </div>
        <div class="col-sm-4 contact-info">
            <p class="contact-content">Please provide us with some information and the nature of your inquiry so that we may respond appropriately.</p>
            <p class="st-address"><i class="fa fa-map-marker"></i><strong>4527 N Greenview Ave, Chicago, IL 60640</strong></p>
            <p class="st-phone"><i class="fa fa-mobile"></i><strong>(847) 226-4698</strong></p>
            <p class="st-email"><i class="fa fa-envelope-o"></i><strong>email@blueslateproperties.com</strong></p>
            <p class="st-website"><i class="fa fa-globe"></i><strong>www.blueslateproperties.com</strong></p>
        </div>
        <div class="col-sm-7 col-sm-offset-1">
            <form class="contact-form" id="contactus-form">
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" id="contact-form-name" required="required" placeholder="Name*">
                    </div>
                    <div class="col-sm-6">
                        <input type="email" id="contact-form-email" required="required" placeholder="Email*">
                    </div>
                    <div class="col-sm-6">
                        <input type="tel" id="contact-form-tel" placeholder="Phone*">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" id="contact-form-subject" placeholder="Subject">
                    </div>
                    <div class="col-sm-12">
                        <textarea  id="contact-form-message" required="required" cols="30" rows="7" placeholder="Message*"></textarea>
                    </div>
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-send">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>