<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section-title">
                <h1>Services</h1><span class="st-border"></span>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 st-service">
            <h2><i class="fa fa-building-o"></i> Construction</h2>
            <p>Blue Slate Properties is the premier builder of new Loft style condominiums in the Chicago land area. We deliver outstanding layouts along with the finest finishes. We work to understand the needs of our buyers and provide a complete solution with luxury amenities as standard in all of our properties. Premium fixtures, appliances, fireplaces, marble and granite are all part of out standard of quality. Our new construction Lofts stand out from the rest.</p>
        </div>
        <div class="col-md-4 col-sm-6 st-service">
            <h2><i class="fa fa-file-text-o"></i> Apartment Applications</h2>
            <p>Blue Slate Properties, LLC carefully screens all apartment applications for our buildings by reviewing the credit and housing court records of the applicant, as well as their financial document. All applications must then be approved by the property manager for that building and one of the firm’s principals. Our thorough screening process enables us to reduce risk to our owners and increases property values by securing qualified tenants for our buildings.</p>
        </div>
        <div class="col-md-4 col-sm-6 st-service">
            <h2><i class="fa fa-gavel"></i> Legal Support</h2>
            <p>Our company stays current on all legal issues and changes in the law. By doing so, we can provide useful legal support to our clients and their attorneys on non – payment and holdover proceeding as well as ensuring compliance with rules and regulations that govern property and tenancy issues. Our in – house legal liaison works together with several law firms and monitors all cases through the housing court system. Furthermore, our building managers are always available to attend court hearing when called upon by legal council.</p>
        </div>
        <div class="col-md-4 col-sm-6 st-service">
            <h2><i class="fa fa-bar-chart"></i> Accounting Management</h2>
            <p>We understand that prompt and accurate collections of rent are necessary to efficient building operations. The majority of our rents are received through an automated system and “lock box” system. Of course, our office is also equipped to accept rent payments directly from our tenants and residents.Blue Slate Properties’ in house – lease renewal department ensures that leases are renewed on timely basis and proper rents are charged. We comply with all mandated relus and regulations set forth by city agencies to make certain that the rights of our tenants are upheld and in so doing strengthening our tenant’s trust and solidifying those relationships.</p>
        </div>
        <div class="col-md-4 col-sm-6 st-service">
            <h2><i class="fa fa-line-chart"></i> Financial Management and Analysis</h2>
            <p>At Blue Slate Properties, LLC we appreciate that prompt and precise financial reporting to our clients is crucial. Accordingly we prepare a monthly financial statement of the property which includes rent collection report for all of our owners. All statements are reviewed by the principals of the firm thereby allowing us to access to financial positions of the properties and make recommendations to our clients to reduce costs and maximize earning potential.</p>
        </div>
        <div class="col-md-4 col-sm-6 st-service">
            <h2><i class="fa fa-balance-scale"></i> Expense Control</h2>
            <p>Being a part of the Blue Slate Properties, LLC portfolio of buildings directly benefits our owners by allowing them to take advantage of our size. Due to bulk rates and prompt vendor invoice payments, we are able to secure extremely competitive prices on a wide range of products and services form insurance coverage to plumbing repairs.</p>
        </div>
    </div>
</div>