<div id="home-carousel" data-ride="carousel" class="carousel slide">
    <div class="carousel-inner">
        <div style="background-image: url(images/slider/house1.jpg)" class="item active">
            <div class="carousel-caption container">
                <div class="row">
                    <div class="col-sm-7">
                        <h1>Real Estate for</h1>
                        <h2>Your World</h2>
                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor. Aenean sollicitudin, lorem quis bibendum auctor.</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-image: url(images/slider/house2.jpg)" class="item">
            <div class="carousel-caption container">
                <div class="row">
                    <div class="col-sm-7">
                        <h1>Lifestyle is</h1>
                        <h2>Where it Begins</h2>
                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor. Aenean sollicitudin, lorem quis bibendum auctor.</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-image: url(images/slider/house3.jpg)" class="item">
            <div class="carousel-caption container">
                <div class="row">
                    <div class="col-sm-7">
                        <h1>It’s your Journey.</h1>
                        <h2>We’re Here to Help.</h2>
                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor. Aenean sollicitudin, lorem quis bibendum auctor.</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-image: url(images/slider/04.jpg)" class="item">
            <div class="carousel-caption container">
                <div class="row">
                    <div class="col-sm-7">
                        <h1>Live Who</h1>
                        <h2>You Are</h2>
                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor. Aenean sollicitudin, lorem quis bibendum auctor.</p>
                    </div>
                </div>
            </div>
        </div><a href="#home-carousel" data-slide="prev" class="home-carousel-left"><i class="fa fa-angle-left"></i></a><a href="#home-carousel" data-slide="next" class="home-carousel-right"><i class="fa fa-angle-right"></i></a>
    </div>
</div>
<!-- /#home-carousel-->